h1{
    color: rgb(74, 238, 9);
    background-color: black;
}
h2{
    color: rgb(12, 12, 12);
    background-color: azure;
}
h3{
    color: rgb(250, 36, 36);
}
h4{
    background-color: aqua;
}
h6{
    background-color: burlywood;
}
p{
    background-color: rgb(255, 0, 179);
}